.treeBase {
	font-family: monospace;
}

.indent {
	padding-left: 1em;
}
.indentLine {
	border-left: 1px solid var(--accent-color);
}

.expandable {
	cursor: pointer;
}

.treeKey {
}

.pill {
	background-color: var(--accent-color);
	border-radius: 4px;
	padding-left: 4px;
	padding-right: 4px;
}
