:root {
	--background-color: #202124;
	--text-color: #cfd0d0;
	--accent-color: #494c50;
}

a {
	color: inherit;
}
* {
	user-select: none;
	-webkit-user-drag: none;
}

html,
body,
#root {
	overflow: hidden;
	height: 100%;
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: 14px;
}

#root {
	display: grid;
	grid-template-rows: 28px auto;
}
