.header {
	display: flex;
	background-color: var(--background-color-light);
	border-bottom: 1px solid var(--accent-color);
	padding: 0.6em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	gap: 0.6em;

	.link {
		display: grid;
		align-items: center;
		text-decoration: none;

		&.selected {
			text-decoration: underline;
		}
	}
}
